name: build

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - '**'

jobs:
  build:
    name: RSpec
    runs-on: ${{ matrix.os }}
    continue-on-error: ${{ endsWith(matrix.ruby, 'head') || matrix.ruby == 'debug' || matrix.experimental }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest]
        ruby: [
          "3.4.5"
        ]
        gemfile: [
          "Gemfile-rails.8.0.x"
        ]
        experimental: [false]
        include:
          - ruby: "3.3"
            os: ubuntu-latest
            gemfile: Gemfile-rails.7.2.x
            experimental: false
          - ruby: "4.0"
            os: ubuntu-latest
            gemfile: Gemfile-rails-edge
            experimental: true

    env: # $BUNDLE_GEMFILE must be set at the job level, so it is set for all steps
      BUNDLE_GEMFILE: ${{ github.workspace }}/gemfiles/${{ matrix.gemfile }}

    steps:
      - uses: actions/checkout@v3

      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
          bundler-cache: true

      - name: Run tests
        run: bin/rspec

      - name: Upload code coverage to qlty
        if: ${{ contains(github.ref, 'main') }}
        uses: qltysh/qlty-action/coverage@v1
        with:
          token: ${{ secrets.QLTY_COVERAGE_TOKEN }}
          files: coverage/.resultset.json
          format: simplecov

      - name: Upload coverage results to GitHub
        uses: actions/upload-artifact@main
        with:
          name: coverage-report-${{ matrix.ruby }}-${{ matrix.gemfile }}
          path: coverage

      - name: Run benchmarks
        run: BENCHMARK="true" bin/rspec benchmarks --pattern "**/*_benchmark.rb"
